.user-component {
  display: flex;
  align-items: center;
}

.user__desc {
  margin: 0 28px 0 20px;
  font-size: 16px;
  font-weight: 600;
}

.user__name {
  font-size: 18px;
}

.user__profession {
  opacity: 0.5;
}