.review-component {
   height: 100%;

   &--active {
      opacity: .4;
      pointer-events: none;
   }
}

.review__title {
   padding: 10px 0;
}

.review__text {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.text {
   flex-grow: 1;
   margin-bottom: 32px;
}

.review__buttons {
   display: flex;
   justify-content: space-between;
}