div(class="bg-buddha parallax-container")
   .bg-buddha__layer(data-speed='0')
      +image('content/sky_1.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.13')
      +image('content/mountain_2.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.25')
      +image('content/buddha_3.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.32')
      +image('content/cloud_1.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.59')
      +image('content/cloud_1.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.65')
      +image('content/cloud_1.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.13')
      +image('content/cloud_1.png', 'bg-buddha__image')
   .bg-buddha__layer(data-speed='0.13')
      +image('content/cloud_1.png', 'bg-buddha__image')
   include reviews
   include write-me