div(class="bg-mountains parallax-container")
   .bg-mountains__layer(data-speed='0')
      +image('content/sky.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.13')
      +image('content/mountain.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.13')
      .bg-mountains__image
   .bg-mountains__layer(data-speed='0.3')
      +image('content/baloon.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.2')
      +image('content/cloud.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.23')
      +image('content/man.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.23')
      +image('content/cloud_1.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.25')
      +image('content/mountain-one.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.28')
      +image('content/white.png', 'bg-mountains__image')
   .bg-mountains__layer(data-speed='0.28')
      +image('content/white.png', 'bg-mountains__image')
   include hero
   include about