blockquote.quote
   p(class="text text--weight-normal") Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
   cite.quote__author Martin Golding