section(class="skills")#skills
   .container

      .skills__container
         .skills__img
            +image('content/rucksack.png', 'skills__pic')

         .skills__content
            .skills__desc
               .skills__title
                  h2(class="title title--font-29") Чем я могу быть полезен&nbsp;вам
               .skills__text
                  p.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            #skills-widget
               skills-list

include skills-row

script(type="text/x-template")#skills-list
   .skills__graphics
      .skills__item(v-for="skill in skills")
         row(
            :skill="skill"
         )
         